@font-face {
  font-family: "Hind-Light";
  src: url("../fonts/Hind-Light.ttf"); 
}
.notification {
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 5px 7px 20px 4px rgba(0, 0, 0, 0.14);
    display: -webkit-box;
    display: flex;
    height: 100px;
    position: absolute;
    right: 25px;
    top: -250px;
    width: 300px;
    z-index: 1051;
  }
  .notification .logo {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: inline-flex;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    width: 80px;
  }
  .notification .logo #face {
    border: 3px solid #555;
    border-radius: 100%;
    display: block;
    height: 70%;
    opacity: 0.25;
    position: relative;
    width: 70%;
  }
  .notification .logo #face .eye {
    background-color: transparent;
    border: 3px solid #555;
    border-radius: 100%;
    display: block;
    height: 10px;
    position: absolute;
    top: 10px;
    width: 10px;
  }
  .notification .logo #face .eye:first-of-type {
    left: 8px;
  }
  .notification .logo #face .eye:last-of-type {
    right: 8px;
  }
  .notification .logo #face span#mouth {
    background-color: transparent;
    border: 3px solid #555;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    bottom: 4px;
    display: block;
    height: 16px;
    left: 10px;
    position: absolute;
    width: 58%;
  }
  .notification .body {
    height: 100%;
    width: 220px;
  }
  .notification .body span,
  .notification .body p {
    color: #eeeeee;
    display: block;
    font-family: "segoe ui";
    padding-left: 17px;
  }
  .notification .body span.title {
    font-size: 15pt;
    margin-top: 12px;
  }
  .notification .body p.message {
    font-size: 10pt;
    margin-top: 6px;
    padding: 0 17px;
  }
  .notification.success {
    background-color: #5bb77b;
  }
  .notification.success .logo {
    background-color: #79c994;
  }
  .notification.fail {
    background-color: #c66363;
  }
  .notification.fail .logo {
    background-color: #eb6d74;
  }
  .notification.fail .logo #face #mouth {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .notification:after {
    -webkit-box-align: center;
            align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 100%;
    color: #aaa;
    content: "x";
    display: -webkit-inline-box;
    display: inline-flex;
    font-family: "segoe ui";
    font-weight: bolder;
    height: 22px;
    -webkit-box-pack: center;
            justify-content: center;
    padding-bottom: 5px;
    position: absolute;
    right: -7px;
    top: -7px;
    width: 22px;
  }
  .notification.visible {
    top: 24px;
  }
  .notification.ease {
    -webkit-transition: top 0.5s ease;
    transition: top 0.5s ease;
  }
  .notification.ease-in {
    -webkit-transition: top 0.5s ease-in;
    transition: top 0.5s ease-in;
  }
  .notification.ease-out {
    -webkit-transition: top 0.5s ease-out;
    transition: top 0.5s ease-out;
  }
  .notification.ease-in-out {
    -webkit-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
  }
  .notification.linear {
    -webkit-transition: top 0.5s linear;
    transition: top 0.5s linear;
  }
  
  .MensajeTiendaNew{
    font-family: "Hind-Light";
    animation: tiendaNew 2.72s ease infinite;
    transform-origin: 50% 50%;
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    clear: both;
    display: block;
    width: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radis: 6px;
    border-radius: 6px;
    display: flex;
    line-height: 17px;
  }
  @keyframes tiendaNew{
    0% { transform:translate(0,0) }
    4.41177% { transform:translate(5px,0) }
    8.82353% { transform:translate(0,0) }
    13.23529% { transform:translate(5px,0) }
    17.64706% { transform:translate(0,0) }
    22.05882% { transform:translate(5px,0) }
    26.47059% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
  }
  .MensajeTiendaNew:hover{
    background:#0c8180a8;
    color: #fff;
  }
  .msg-alert{
    font-family: "Hind-Light";
    width: 78%;
    text-align: left;
    padding-left: 6px;
    font-size: 1.45em;
  }
  #alertas{
    overflow-y: auto;
    height: 75vh;
  }



  