body {
  overflow-x: hidden;
}
.fa-long-arrow-alt-left{
  font-size: 1.5rem;
}
#v-pills-1 {
  overflow-y: auto;
  overflow-x: hidden;
  height: 75vh;
}

.row-eq-height {
  height: 100%;
}

.of-hidden {
  overflow: hidden !important;
}
.contenido-periodos{
  border-left: 3px solid #0c8180;
  padding: 20px 5px;
  background: #fff;
  width: 100%;
}
.img-loading {
  position: absolute;
  left: 9em;
  width: 40%;
  top: 12em;
}

.table-cuentaCobro {
  height: 45vh;
}

.div-opeacionales {
  height: 45vh;
  overflow-y: auto;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .05);
}

th,
td {

  border-color: #e1e8ee !important;
}

.cont-img-app {
  padding: 20px;
}

.form-group.has-icon i:after {
  border-right: 0 !important;
}

#smallImage {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 1px solid;
  background: #ffffff00;
  transform: rotate(90deg);
  padding: 0;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F8FA;
  z-index: 9998;
  text-align: center;
}

.form-group.has-icon i {
  right: 2em;
}

.plane-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal-dialog {
  max-width: 60%;
}

.formFecha {
  padding: 3% 9%;
}

.vis-h {
  visibility: hidden;
}

.dis-n {
  display: none !important;
}

.mail-des {
  width: 80%;
}

.fa-check-circle {
  font-size: 3em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

#contenedor {
  background: rgba(0, 0, 0, 0.34);
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.row-modal {
  background: white;
  height: 26%;
  width: 29%;
  border-radius: 10px;
  position: fixed;
  box-shadow: 0px 2px 12px 1px rgba(0, 0, 0, 0.24);
  top: 15%;
}

#btn-cerrar {
  position: absolute;
  color: #0e3156;
  right: 1em;
  top: 12px;
  font-size: 18px;
}

#btn-cerrar:hover {
  color: #0e3156;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0rem 0rem 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  width: 100%;
  height: 28%;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  width: 100%;
}

.modal-footer>button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  /* font-size: 1rem; */
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

.pagination li a {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6
}

.pagination li a:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6
}

.pagination li a:focus {
  z-index: 2;
  outline: 0;
  box-shadow: none
}

.pagination li a:not(:disabled):not(.disabled) {
  cursor: pointer
}

.pagination li:first-child a {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem
}

.pagination li:last-child a {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem
}

.pagination li.active a {
  z-index: 1;
  color: #fff;
  background-color: #3f6ad8;
  border-color: #007bff
}

.pagination li.active a:hover {
  color: #fff
}

.pagination li.disabled a {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6
}

#limpiar {
  height: 38px;
}

#titulo_plan {
  text-transform: uppercase;
}

.btn-mostrar {
  color: #007bff;
  font-size: 1.2em;
}

.btn-mostrar:hover {
  cursor: pointer;
}

.btn-foto {
  margin-top: 10px;
}

@media (max-width: 414px) {
  .row-modal {
    right: 1em;
    height: 36%;
    width: 58%;
  }

  .modal-dialog {
    max-width: 100%;
  }

  #tablaPacientes p {
    width: 100%;
    padding: 10px;
    position: absolute;
  }

  #des1,
  #des2 {
    width: 100%;
  }
}